# Beispiel-Konfiguration
# Nach config.ini kopieren und anpassen

dbhost = localhost
dbuser = postgres
dbpassword =
database = webanw05
debug = 1

# EOF: $Id: config.ini.dist 15 2011-04-17 11:39:24Z mtack001 $
